@import url("tailwindcss");

:root {
  --background: #F5F6F8;
  --foreground: #171717;
  --black: #3B434E;
  --white: white;
  --primary: #7653FC;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: flex;
  pointer-events: all;
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-family);
}