.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  position: relative;
}

.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }

  svg {
    fill: var(--white);
  }
}

.ghost {
  color: var(--black);
  background-color: var(--transparent);
  border: 1px solid var(--grey-light);

  &:hover {
    color: var(--white);
    background-color: var(--primary);

    svg {
      fill: var(--white);
    }
  }
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
